<html class="no-js" lang=""><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <!--cache control App-->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <!--cache control App-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#ed1c27">
  
    <!-- Set Up the App Icon -->
    <link rel="apple-touch-icon" href="../../assets/img/apple/icon5757.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/apple/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/img/apple/apple-touch-icon.png">
  
    <!-- Load It Like A Native App -->
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
    <!-- Customize the Startup Screen -->
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
  
    <!--  GOOGLE FONTS  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i&amp;display=swap&amp;subset=latin-ext" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;display=swap" rel="stylesheet">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
  
    <!-- Your app title -->
    <title>Daviplata App</title>
    <link rel="stylesheet" href="../css/app.css">
  
  </head>
  
  <body class="bg-daviplata">
    <div id="wrapper" class="main">
      <header class="headernew">
        <div class="headernew__wrapper">
          <div class="wrapper__arrow"><img src="../assets/images/arrow-left-white.svg" alt="left" class="icon-arrow-left">
          </div>
          <div class="wrapper__logo"> <img src="../assets/images/logo.daviplata-header.svg" alt="logo-daviplata" class="icon-logo-daviplata"></div>
          <div class="wrapper__closed"> <img src="../assets/images/close.svg" alt="closed" class="icon-closed-app"></div>
        </div>
      </header>
      <!--end headernew-->
  
      <div class="content-general">
        <div class="box-white">
          <h1 class="main-title">Complete los datos del propietario del Carro/Moto:</h1>
          <form class="form">
  
            <!--input text-->
            <div class="form__input">
              <label for="number-phone">¿Cuál es el número de celular?</label>
              <input type="text" placeholder="" id="number-phone">
            </div>
  
               <!--input text-->
               <div class="form__input">
                <label for="city">¿Cuál es la ciudad de residencia?</label>
                <input type="text" placeholder="" id="city">
              </div>

            <!--direccion-->
            <div class="form__input">
              <label for="label-title">¿Cuál es la dirección de residencia?</label>
              <div class="form-flex">
                <div class="select-flex">
                  <select name="" id="">
                    <option value="-1">Seleccione</option>
                    <option value="1">Option 1</option>
                  </select>
                </div>
                <div class="input-flex">
                  <input type="number" placeholder=""> 
                </div>
                <span>#</span>
                <div class="input-flex">
                  <input type="number" placeholder=""> 
                </div>
                <span>-</span>
                <div class="input-flex">
                  <input type="number" placeholder=""> 
                </div>
              </div>
            </div>
  
               <!--input text-->
               <div class="form__input">
                <label for="living-place">Torre / Apartamento / Piso / Otro</label>
                <input type="text" placeholder="" id="living-place">
              </div>

                <!--input text-->
                <div class="form__input">
                    <label for="email">¿A qué correo quiere que le enviemos el SOAT?</label>
                    <input type="text" placeholder="" id="email">
                  </div>
                  <div class="form__input">
                    <label for="help">Si está recibiendo ayuda de un <strong>asesor del 
                        Banco</strong>, ingrese el código del asesor 
                        (Opcional)
                      <a href="javascript:void(0)" class="tooltipButton">
                        <img src="../assets/images/icon-ask-tooltip.svg" alt="">
                      </a>
                      <div class="tooltip" id="capa">
                       <p>Si le prestaron asesoría, ingrese el código del asesor comercial que lo está ayudando con esta solicitud; de lo contrario, no diligencie este espacio.</p>
                      </div>
                    </label>
                    <input type="text" maxlength="6" name="campo" onkeypress="return validacion(event); SoloNumeros(evt)" id="help">
                  </div>
            <!--Check Buttons-->
        
            <div class="form__input form__input--last-child">
                <label for="label-title"></label>
                <div class="wrapper-radio wrapper-radio--terms">
                  <div class="chooseOption">
                      <input type="checkbox" id="noOptionCheck" name="genero">
                      <label for="noOptionCheck"><span></span></label>
                  </div>
                  <div class="chooseOption">
                    <label for="noOptionCheck" class="label--mrgleft"><span></span> Acepto las <a href="" class="sub-line">condiciones y 
                        características</a> del SOAT</label>
                </div>
                </div>
              </div>
            <a href="pantalla-6.html" class="button button--gray">Cotizar</a>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <!--  BOTON AYUDA  -->
        <div class="btn-ayuda">
          <a href="#">
            <img src="../assets/images/help.svg" alt="">
          </a>
      </div>
      <!--  end BOTON AYUDA  -->
    </footer>
    <!--end wrapper-->
    
    <script src="../js/main.js"></script>
  
  
  </body></html>