<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <!--cache control App-->
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <!--cache control App-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Color theme for statusbar -->
  <meta name="theme-color" content="#ed1c27">

  <!-- Set Up the App Icon -->
  <link rel="apple-touch-icon" href="../../assets/img/apple/icon5757.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/apple/touch-icon-ipad-retina.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/img/apple/apple-touch-icon.png">

  <!-- Load It Like A Native App -->
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Customize the Startup Screen -->
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-320x460.png"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-640x920.png"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-640x1096.png"
    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-768x1004.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-748x1024.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-1536x2008.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="../../assets/img/apple/apple-touch-startup-image-1496x2048.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">

  <!--  GOOGLE FONTS  -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i&amp;display=swap&amp;subset=latin-ext"
    rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;display=swap"
    rel="stylesheet">

  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap"
    rel="stylesheet">

  <!-- Your app title -->
  <title>Daviplata App</title>
  <link rel="stylesheet" href="../css/app.css">

</head>

<body class="bg-daviplata">
  <div id="wrapper" class="main">
    <header class="headernew">
      <div class="headernew__wrapper">
        <div class="wrapper__arrow"><img src="../assets/images/arrow-left-white.svg" alt="left" class="icon-arrow-left">
        </div>
        <div class="wrapper__logo"> <h1 class="title-main">SOAT</h1></div>
        <div class="wrapper__closed"> <img src="../assets/images/close.svg" alt="closed" class="icon-closed-app"></div>
      </div>
    </header>
    <!--end headernew-->

    <div class="content-general">
      <div class="box-white">
        <h2 class="titleBox titleBox--center">AUTORIZACIÓN PARA SUMINISTRAR DATOS</h2>
        <p class="peragraph-item">
          DAVIVIENDA identificada con NIT 
          860034313-7 le informa que a través de 
          SEGUROS BOLIVAR sociedad que hace 
          parte del mismo Grupo Empresarial, puede 
          obtener su SOAT para usted, sus familiares y 
          relacionados.
        </p>
        <br>
        <p class="peragraph-item">
          SEGUROS BOLÍVAR le extenderá los 
          beneficios que otorga a los suscriptores de 
          SOAT a las personas que usted señale y que 
          le hayan manifestado el interés o la 
          necesidad de adquirir el SOAT a través de 
          SEGUROS BOLÍVAR.
        </p>
         <br>
        <p class="peragraph-item">
          La recolección de los datos de naturaleza 
          semiprivada que se requieren para que se 
          pueda expedir el SOAT, esto es el número de 
          celular, la dirección y el correo electrónico del 
          familiar o relacionado, serán recibidos bajo la 
          figura de la estipulación en. Beneficio de otro 
          prevista en el numeral 4, del artículo 
          2.2.2.25.4.1. del capítulo 25 del Decreto 
          1074 de 2015.
        </p>
         <br>
        <p class="peragraph-item">
          DAVIVIENDA le transferirá los datos 
          personales atrás señalados, junto con los 
          datos públicos requeridos a SEGUROS 
          BOLÍVAR con el único fin de que sea 
          expedido el SOAT.
        </p>
        <a href="pantalla-4.html" class="button button--red">Aceptar</a>
      </div>
    </div>
  </div>
  <footer>
     <!--  BOTON AYUDA  -->
     <div class="btn-ayuda">
      <a href="#">
        <img src="../assets/images/help.svg" alt="">
      </a>
  </div>
  <!--  end BOTON AYUDA  -->
  </footer>
  <!--end wrapper-->
  </div>
  <script src="../js/main.js"></script>
</body>

</html>